<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Handwritten Digit Recognition using Convolutional Neural Networks</title>
    <title>@rcooper // github @coopss </title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>Alphanumeric Character Recognition using a 2-D Convolutional Neural Network</h1>

    <div class="centered">
        <canvas id="canvas" width="280" height="280"></canvas>
    </div>

    <div class="centered">
        <input type="button" class="predict_button" value="Predict" style="">
        <input type="button" id="clear_button" value="Clear" style="">
    </div>
    <div class="centered">
        <img id="preview" src="" width="280" height="280" alt="No image preview">
    </div>
    <div class="centered">
        <form method="post" action="/" enctype="multipart/form-data" id="image_form">
            <input class="predict_upload" type="file" id="file" name="file">
        </form>
    </div>
    <div id="loading" style="display: none" class="centered">
        <img src="{{url_for('static',filename='hourglass.gif')}}" class="loading_img" />Thinking about it ...
    </div>

    <div class="centered">
        <h1 id="result"></h1>
    </div>
    <script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='index.js')}}"></script>
    <script type="text/javascript">
        $(".predict_button").click(function() {
            $('#result').text('  Predicting...');
            var $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            var canvasObj = document.getElementById("canvas");
            var img = canvasObj.toDataURL('image/png');
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + "/predict/",
                data: img,
                success: function(data) {
                    $('#result').text('Predicted Output: ' + data);
                }
            });
        });

        $(".predict_upload").change(function(){
            var $SCRIPT_ROOT = {{request.script_root | tojson | safe}};

            // https://stackoverflow.com/questions/5392344/sending-multipart-formdata-with-jquery-ajax
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();
            var data = new FormData($('#image_form')[0]);

            reader.addEventListener("load", function() {
                $("#preview").attr("src", reader.result);
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }

            // $("#prediction").hide();
            $("#loading").show();
            // $("#image_form").submit();
            $.ajax({
                url: $SCRIPT_ROOT + "/predict_upload/",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST', // For jQuery < 1.9
                success: function(data){
                    // alert(data);
                    // console.log(data);
                    $("#loading").hide();
                    $('#result').text('Predicted Output: ' + data);
                }
            });
        });
    </script>
</body>

</html>